body {
    font-family: Arial, sans-serif;
    background-image: url('../images/hcdc.jpg'); /* Adjusted path for background image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Add transparency to the container */
    padding: 20px;
    border-radius: 10px; /* Corrected radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.logo {
    
    display: flex;
    justify-content: center;
    position:absolute;
   margin-left: 65px;
   margin-bottom: 60px;
}

h2 {
    margin-top: 80px;
    color: #333;
   text-align: center;
}
  


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #790000; /* Bootstrap green */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for hover effect */
}

button:hover {
    background-color: #ea483c; /* Darker green on hover */
}

.role-container {
    display: flex; /* Use flexbox for side-by-side layout */
    justify-content: space-between; /* Space between buttons */
    margin-bottom: 20px; /* Space below role selection */
}

.role-button {
    flex: 1; /* Make buttons take equal space */
    padding: 10px;
    background-color: white; /* White background */
    border: 2px solid #790000; /* Green border */
    color: #790000; /* Green text */
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Space between buttons */
    transition: background-color 0.3s, color 0.3s; /* Transition for color change */
}

.role-button:last-child {
    margin-right: 0; /* Remove margin for the last button */
}

.role-button.selected-teacher {
    background-color: #790000; /* Green background for Teacher */
    color: white; /* White text */
}

.role-button.selected-student {
    background-color:#790000; /* Red background for Student */
    color: white; /* White text */
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color:#790000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
